<strong>Olá, {{ student }}.</strong>
<p>Sua matrícula foi efetuada. Confira os detalhes abaixo:</p>
<p>
  <strong>Plano:</strong> {{ plano }} <br />
  <strong>Valor:</strong> {{ price }} <br />
  <strong>Início:</strong> {{ start_date }} <br />
  <strong>Término:</strong> {{ end_date }} <br />
  <br />
</p>
<p>
Seja bem-vindo!
</p>
